Repository federicorz98/multi, changes with the labels that .github/labeler.yml gives for each.
All labels: multi, repo-config

.github/labeler.yml:

multi:
  - changed-files:
      - any-glob-to-any-file: 'src/**'

repo-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

fix
  package-lock.json
  package.json
  yarn.lock
Labels: none

fix
  .npmignore
  README.md
  assets/multi-cover.png
  src/components/index.ts
  yarn.lock
Labels: multi

add `index.css`
  .github/workflows/create-release.yml
  src/index.css
Labels: multi, repo-config

fix
  .gitignore
  federicorz98-multi-1.1.0.tgz
  src/index.css
  tsup.config.ts
Labels: multi

udpateD `README.md`
  README.md
  src/index.css
Labels: multi

Update README.md
  README.md
Labels: none

fix
  README.md
Labels: none

make theme configurable
  src/components/theme-provider/ThemeProvider.props.ts
  src/components/theme-provider/ThemeProvider.tsx
  src/hooks/useCustomTheme.tsx
  src/theme/palette/palette.dark.ts
  src/theme/palette/palette.light.ts
  src/theme/palette/palette.ts
  src/theme/theme.ts
  src/theme/theme.util.ts
  src/types/palette.d.ts
Labels: multi

export `useMultiTheme`
  src/components/index.ts
  src/components/theme-provider/ThemeProvider.tsx
  src/hooks/index.ts
  src/hooks/useMultiTheme.tsx
  src/index.ts
Labels: multi

rename
  .github/workflows/create-release-version.yml
Labels: repo-config

fix dark theme
  src/components/theme-provider/DarkModeContext.tsx
  src/components/theme-provider/ThemeProvider.tsx
  src/hooks/useMultiTheme.tsx
  src/index.css
Labels: multi

added `inputs`
  package-lock.json
  package.json
  src/components/buttons/button/Button.props.ts
  src/components/buttons/link-button/LinkButton.props.ts
  src/components/buttons/split-button/SplitButton.props.ts
  src/components/checkbox/Checkbox.props.ts
  src/components/checkbox/Checkbox.tsx
  src/components/date-picker/DatePicker.props.ts
  src/components/date-picker/DatePicker.tsx
  src/components/index.ts
  src/components/inputs/currency-input/CurrencyInput.props.ts
  src/components/inputs/currency-input/CurrencyInput.tsx
  src/components/inputs/number-input/CustomNumberFormat.tsx
  src/components/inputs/number-input/NumberInput.props.tsx
  src/components/inputs/number-input/NumberInput.tsx
  src/components/inputs/otp-input/OtpInput.props.ts
  src/components/inputs/otp-input/OtpInput.tsx
  src/components/inputs/password-input/PasswordInput.tsx
  src/components/inputs/text-input/TextInput.props.ts
  src/components/inputs/text-input/TextInput.tsx
  src/components/tabs/Tabs.tsx
  src/components/tooltip/Tooltip.props.ts
  src/models/currency.model.ts
  src/models/number.model.ts
  yarn.lock
Labels: multi

added more components
  package-lock.json
  src/components/accordion/Accordion.props.ts
  src/components/accordion/Accordion.tsx
  src/components/buttons/link-button/LinkButton.props.ts
  src/components/card/BasicCard.tsx
  src/components/card/CardContent.tsx
  src/components/card/CardFooter.tsx
  src/components/card/CardHeader.tsx
  src/components/dialog/Dialog.props.ts
  src/components/dialog/Dialog.tsx
  src/components/index.ts
  src/components/select/Select.props.ts
  src/components/select/Select.tsx
  src/components/table/Table.tsx
  src/components/tag/Tag.tsx
  src/models/currency.model.ts
  yarn.lock
Labels: multi

add `TODO`
  TODO.md
Labels: none

prettier
  src/models/currency.model.ts
Labels: multi

added `storybook` badge
  README.md
Labels: none

added `Drawer`
  src/components/drawer/Drawer.props.ts
  src/components/drawer/Drawer.tsx
  src/components/index.ts
Labels: multi

fix
  src/components/buttons/split-button/StyledButton.tsx
Labels: multi

fix
  src/components/buttons/split-button/StyledButton.tsx
Labels: multi

fix warning
  src/components/buttons/toggle-button/ToggleButton.tsx
Labels: multi

fixes
  TODO.md
  src/components/accordion/Accordion.props.ts
  src/components/buttons/link-button/LinkButton.props.ts
  src/components/card/BasicCard.tsx
Labels: multi

refactor
  src/components/card/BasicCard.tsx
Labels: multi

fix
  src/components/inputs/otp-input/OtpInput.tsx
  src/components/inputs/text-input/TextInput.props.ts
  src/components/inputs/text-input/TextInput.tsx
Labels: multi

fix password input
  src/components/inputs/password-input/PasswordInput.tsx
  src/components/inputs/text-input/TextInput.props.ts
  src/components/inputs/text-input/TextInput.tsx
  src/components/select/Select.tsx
Labels: multi

fixes
  src/components/accordion/Accordion.props.ts
  src/components/accordion/Accordion.tsx
  src/components/alert/Alert.props.ts
  src/components/alert/Alert.tsx
  src/components/badge/Badge.tsx
  src/components/index.ts
  src/components/tooltip/Tooltip.tsx
Labels: multi

added footer and header
  src/components/footer/Footer.props.ts
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/components/index.ts
  src/constants/brand.ts
Labels: multi

fix
  src/components/inputs/number-input/NumberInput.props.tsx
Labels: multi

fix footer
  src/components/footer/Footer.props.ts
Labels: multi

fix CurrencyInput
  src/components/inputs/currency-input/CurrencyInput.props.ts
Labels: multi

fix accordion
  src/components/accordion/Accordion.tsx
Labels: multi

fix
  package-lock.json
  package.json
  yarn.lock
Labels: none

fix
  src/theme/theme.util.ts
Labels: multi

fix
  src/theme/theme.util.ts
Labels: multi

test
  .github/workflows/create-release-version.yml
  README.md
Labels: repo-config

fix
  .github/workflows/create-release-version.yml
Labels: repo-config

set license
  package-lock.json
  package.json
  src/index.ts
Labels: multi

fix
  README.md
  src/index.ts
  src/util/index.ts
  src/util/license.util.ts
  tsconfig.json
Labels: multi

fix
  src/index.ts
  src/util/index.ts
  src/util/license.util.ts
Labels: multi
